<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SP3DBEntities" connectionString="metadata=res://*/SP3Model.csdl|res://*/SP3Model.ssdl|res://*/SP3Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-C2N8B6G\SQLEXPRESS;initial catalog=SP3DB;integrated security=True;persist security info=True;user id=sa;password=200596walex;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>